.myNews {
    margin-top: 20%;

}





@media (max-width: 1539px) {
    .myNews {
        margin-top: 22%;
    }
}

@media (max-width: 1200px) {
    .myNews {
        margin-top: 25%;
    }
}

@media (max-width: 900px) {
    .myNews {
        margin-top: 25%;
    }
}

@media (max-width: 700px) {
    .myNews {
        margin-top: 20%;
    }
}
@media (max-width: 650px) {
    .myNews {
        margin-top: 18%;
    }
}

@media (max-width: 600px) {
    .myNews {
        margin-top: 15%;
    }
}

@media (max-width: 500px) {
    .myNews {
        margin-top: 30%;
    }
}















.myTitleNews{
    margin-left:7%;
    color:#334155;
    font-size: 30px;
    font-weight: 650;
}
.myNewsFatherDiv{

    width: 100%;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 15px;
}
@media (max-width: 900px) {
    .myNewsFatherDiv {
    padding: 1% 0%;

    }
  }
.description {
    white-space: pre-wrap;

}
.myYoutube{
    border-radius: 10px;
    min-width: 400px;
    max-width: 400px;
}
.myNewsDiv {
    border-radius: 10px;
    min-width: 400px;
    max-width: 400px;
    position: relative;
    top: 2px;
    left: 3px;
    transition: width 1s ; /* Smooth transition effect */
}
@media (max-width: 900px) {
    .myNewsDiv {
        margin: 0 auto;
        min-width: 360px;


    }
  }

.myNewsDiv:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 25px 0

}


.myImageNews {
    display: block;
    width: 100% ;
    height: 300px;
    border-radius: 10px; /* Adjust the border radius as needed */
}

@media (max-width: 320px) {
    .myImageNews {
        display: block;
        width: 100% ;
        height: 220px;
        border-radius: 10px;


    }
    .myNewsDiv {
        margin: 0 auto;
        min-width: 260px;


    }
}

@media (max-width: 400px) {
    .myNewsDiv {
        margin: 0 auto;
        min-width: 280px;


    }
}

@media (max-width: 400px) {
    .myYoutube{
        border-radius: 10px;
        min-width: 320px;
        max-width: 320px;
    }
}

@media (max-width: 360px) {
    .myYoutube{
        border-radius: 10px;
        min-width: 300px;
        max-width: 300px;
    }
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px; /* Adjust padding as needed */
    color: #f8fafc; /* Slate 50 color */
    background-color: rgba(0, 68, 104, 0.59); /* Semi-transparent background */
    font-size: 1.125rem; /* Text size */
    font-weight: bold;
    border-radius: 10px 10px 0 0; /* Adjust border radius for the top corners */
}



.kampus {
    margin: 0;
    padding: 0 5%;
    font-family: Arial, sans-serif;
    background-color:  #004C88; /* Dark blue gradient background */
    color: #fff;

}

.container {
    padding: 2rem;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.description {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.card {
    background-color: #eef2f5;
    color: #000;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-link a {
    color: #004C88;
    text-decoration: none;
}

.card-link a:hover {
    text-decoration: underline;
}

.icon {
    margin-right: 0.5rem;
}



/*galereya*/
.galereya {

    margin: 0;


    color: #333;
}

.gallery-container {
    padding: 0rem;
}

.gallery-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.tab {
    margin: 0 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 0.5rem 2px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

.tab.active {
    border-color: #004C88;
}
.tab.active1 {
    border-color: white;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 12px));
    gap: 18px;
    justify-content: center;
}
@media (max-width: 900px) {
    .gallery-grid {
        margin: 0 auto;
        min-width: 30px;


    }
  }
@media (max-width: 410px) {
    .gallery-grid {
        margin: 0 auto;
        min-width: 30px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 12px));


    }
}

.gallery-image {
    margin-top: 12px;
    width: 410px;
    height: 260px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}

.gallery-image:hover {
    transform: scale(1.02);
}
